@using Car_with_database.Models
@model Car_with_database.Models.Trip

@{
    ViewBag.Title = "SpecificTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book a seat</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                <label>Starting address</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.startingAddress)
            </dd>

            <dt>
                <label>Starting Zip</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.startingZip)
            </dd>

            <dt>
                <label>Starting city</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.startingCity)
            </dd>

            <dt>
                <label>Destination address</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.destinationAddress)
            </dd>

            <dt>
                <label>Destination zip</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.destinationZip)
            </dd>

            <dt>
                <label>Destination city</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.destinationCity)
            </dd>

            <dt>
                <label>Date and time</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.time)
            </dd>

            <dt>
                <label>Number of seats left</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numberOfSeats)
            </dd>

        </dl>
        <div hidden="">
            <input type="text" name="id" id="id" value ="@Model.TripID" />
            
        </div>
    </div>
    if ((bool) Session["LoggedIn"] && Model.numberOfSeats > 0)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book seat" class="btn btn-default" formaction='@Url.Action("SpecificTrip", "FindTrip")'/>
            </div>
        </div>
    }
    else if ((bool) Session["LoggedIn"] && Model.numberOfSeats == 0)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="No more seats" class="btn btn-default" disabled=""/>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Log in to book a seat" class="btn btn-default" disabled="disabled"/>
            </div>
        </div>
    }

}
