@model IEnumerable<Car_with_database.Models.Trip>

@{
    ViewBag.Title = "TripList";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search results</h2>


<table class="table">
    <tr>
        <th>
            <label>Starting address</label>
        </th>
        <th>
            <label>Starting zip</label>
        </th>
        <th>
            <label>Starting city</label>
        </th>
        <th>
            <label>Destination address</label>
        </th>
        <th>
            <label>Destination zip</label>
        </th>
        <th>
            <label>Destination city</label>
        </th>
        <th>
            <label>Date and time</label>
        </th>

        <th>
            <label>Seats</label>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startingAddress)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startingZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destinationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destinationZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destinationCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.numberOfSeats)
        </td>
        <td>
            @Html.ActionLink("Book seat", "SpecificTrip", item);

        </td>

    </tr>

}


</table>
